ul{
    list-style-type: none;
    
}

.dropdown-content{
    ul{
        display: flex;
        flex-direction: row;
    }
   
    
    a{
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        text-transform: capitalize;
        text-decoration: none;
        color: black;
        margin-top: 2rem;
        margin-left: 2rem;
    }
}
@media screen and (max-width:800px){

    .dropdown:hover .dropdown-content{
        display: block;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        top:0;
        right: 0;
        border-left: 1px black solid;
        width: 90%;
        height: 100%;
        background-color: $off-white;
    ul{
        flex-direction: column;
    }
}
}