/* Import del font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
$font-inter: 'Inter', sans-serif;
$font-size: 15px;

// Color
// Primary
$orange:  hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);

// Neutral
$off-white: hsl(36, 100%, 99%);
$g-blue: hsl(233, 8%, 79%);
$drk-blue: hsl(240, 100%, 5%);
$drk-g-blue:  hsl(236, 13%, 42%);

